# Use our custom-configured c++ toolchain.
build:windows_config --crosstool_top=//tools/bazel/toolchain:ti_suite

# Specify the cpu
build:windows_config --cpu=AWR294x

# Specify the compiler
build:windows_config --compiler=TiWindows

# Use the default Bazel C++ toolchain to build the tools used during the
# build.
build:windows_config --host_crosstool_top=@bazel_tools//tools/cpp:toolchain


# Use our custom-configured c++ toolchain.
build:linux_config --crosstool_top=//tools/bazel/toolchain:ti_suite

# Specify the cpu
build:linux_config --cpu=AWR294x

# Specify the compiler
build:linux_config --compiler=TiLinux

# Use the default Bazel C++ toolchain to build the tools used during the
# build.
build:linux_config --host_crosstool_top=@bazel_tools//tools/cpp:toolchain

